.terraform/
.ipynb_checkpoints/
*.sublime-project
*.sublime-workspace
*.tfstate
*.tfstate.backup
node_modules/
package-lock.json
docker/volumes/db/
ping.txt
pingWithoutQuotes.txt
ping-march.txt
pingWithoutQuotes-march.txt
